
body{
    scroll-behaviour:smooth;
}

/* NavBar */
.navbar{
  
   position: -webkit-sticky;
    top: 0;
    background-color: black;
}

/* Jumbotron section */
.jumbotron {
    background-image: url(images/carousel_maze_3.jpeg);
    background-size: cover;
    height: 800px;
    text-align: center;
    background-attachment: fixed;
}
.display-4{
    color: white;
    margin-top: 10%; 
      
}
.lead{
    font-size: 2em;
    color:white;
}
.btn{
    margin-top: 8rem;
    background-color: #db7a34;
    font-size: xx-large;
}

/* Attraction section */
h4{
    font-family: 'Nosifer', cursive;
}
#attraction{
    font-family: 'Henny Penny', cursive;
}
.attraction-text{
    background-color: #db7a34;
}
.attractionCardWrapper{
    padding: 50px; 
}

.attractionCard{
    padding: 30px;
}

.attractionCard > *{
    margin-bottom: 30px;
}

.img-thumbnail{
    border: none;
    border-radius: 16px;
    height: 15rem;
}

/* Testimonial section */
.carousel{
    background-color: rgb(187, 192, 187);
}
.testimonial-image {
    width: 40%;
    border-radius: 100%;
    margin-left: 35%;
    margin-bottom: 50px;
  }
  .testimonial-text{
      text-align: center;
    margin-bottom: 0;
  }
   .carousel-item {
    padding: 7% 20%;
  } 
  .checked {
    color: orange;
  }
  .stars{
      text-align: center;
  }
  .name{
      text-align: right;
  }

/* Location/Hours */
.map{
    align-items: center;
    justify-content: center;
    background-color: #db7a34;
    padding: 5rem;
}

/* ContactUs */
.contact{
    font-family: 'Henny Penny', cursive;
}
.jumbotron2{
    background-image: url(images/2109504399spider-webs-gif.gif);
    background-size: cover;
    height: 100vh;
}

#contactForm{
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 245, 241);
}

form{
    display: flex;
    flex-flow: column nowrap;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
}

input, textarea{
    margin-bottom: 25px;
    padding: 8px;
    border: 2px solid black;
    border-radius: 6px;
    width:300px;
}

input:last-of-type{
    margin-bottom: 0;
}

label{
    font-size: 14px;
    font-weight: 600;
    color: rgba(0,0,0,.6);
    margin-bottom: 2px;
}

input[type=submit]{
    background-color: black;
    color:white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    width: 100px;
    transition: outline-offset .05s;
    cursor: pointer;
    outline: 2px solid black;
    outline-offset: -1px;
}

input[type=submit]:hover{
    outline-offset: 2px;
}

textarea{
    resize: vertical;
    min-height: 100px;
}
/* Footer */
.fa{
   color:#db7a34;
}   
.foot a:hover{
    text-decoration: none;
}

